body {
    background: url(wallpaper.jpeg) ;

background-repeat: no-repeat;
    background-size: cover;
    
    
    
    

}

p{
    margin-top:75px;
    text-align: justify;
    font-size: 25px;
    color: aliceblue;
    background-color: black;
}
h1{
    background:black;
    color:aliceblue;
}